<div class="jumbotron text-center">
    <h1>Category {{category_name ? category_name : 'not found'}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12" ng-repeat="article in results">
            <div class="thumbnail">
                <img ng-src="{{article.image}}" alt="{{article.title}}">
                <div class="caption">
                    <h4 class="text-center">{{article.title}}</h4>
                    <p>{{article.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
